/* Styleguide
 * https://zeroheight.com/1fdc83158/p/43dc3f-colors
 */

$aquamarin-dark: rgb(3, 142, 158);
$aquamarin: rgb(84, 191, 207);
$aquamarin-20: rgb(220, 242, 245);
$aquamarin-40: rgb(186, 229, 235);
$aquamarin-60: rgb(152, 216, 226);
$aquamarin-80: rgb(118, 203, 216);
$mediumblue-dark: rgb(0, 86, 151);
$mediumblue: rgb(0, 130, 200);
$mediumblue-20: rgb(204, 230, 244);
$mediumblue-40: rgb(153, 205, 233);
$mediumblue-60: rgb(102, 180, 222);
$mediumblue-80: rgb(51, 155, 211);
$darkblue: rgb(0, 50, 115);
$grey-dark: rgb(80, 80, 80);
$grey: rgb(224, 224, 224);
$grey-light: rgb(248, 248, 248);
$white-40: rgba(255, 255, 255, 0.4);
$white-60: rgba(255, 255, 255, 0.6);
$green: rgb(155, 195, 30);
$orange: rgb(245, 155, 105);
$orange-light: rgb(245, 190, 130);
$orange-strong:rgb(255, 155, 95);
$orange-strong-40: rgba(255, 155, 95, 0.4);
$red: rgb(172, 0, 0);
$yellow: rgb(250, 205, 0);
