/.idea/
/wp-content/uploads/
/wp-content/backups-dup-lite/
/.htaccess
/wp-config.php
/wp-content/themes/twentytwenty/
/wp-content/plugins/disable-remove-google-fonts/
/wp-content/cache/wmac/
/wp-content/plugins/elementor/
