/.idea/
/.htaccess
/wp-config.php

/wp-content/uploads/
/wp-content/backups-dup-lite/
/wp-content/cache/
/wp-content/cache/wmac/

/wp-content/themes/twentytwenty/


/docs/demo-files/

/wp-admin/includes/
/wp-admin/about.php
/wp-includes/

/wp-content/languages/

/wp-content/plugins/akismet/
/wp-content/plugins/antispam-bee/
/wp-content/plugins/disable-json-api/
/wp-content/plugins/disable-remove-google-fonts/
/wp-content/plugins/duplicator/
/wp-content/plugins/elementor/
/wp-content/plugins/enable-media-replace/
/wp-content/plugins/facebook-pagelike-widget/
/wp-content/plugins/fb-instant-articles/
/wp-content/plugins/js_composer/
/wp-content/plugins/magplus-addons/
/wp-content/plugins/magplus-amp/
/wp-content/plugins/redux-framework/
/wp-content/plugins/safe-svg/
/wp-content/plugins/wordpress-seo/
/wp-content/plugins/duplicate-page/
/wp-content/plugins/tablepress/
/wp-content/themes/twentytwentythree/
