/* ------------------------------------------------------------------------------------------------------------------------------- */
/*  44 - CUSTOM 5 COL  */
/* ------------------------------------------------------------------------------------------------------------------------------- */

.cust-xs-5 {
  width: 20%;
}

@media screen and (min-width:768px) {
  .cust-sm-5 {
    width: 20%;
  }
}

@media screen and (min-width:992px) {
  .cust-md-5 {
    width: 21%;
  }
}

@media screen and (min-width:1200px) {
  .cust-lg-5 {
    width: 20%;
  }
}
