/* ------------------------------------------------------------------------------------------------------------------------------- */
/*  15 - TT-POST TYPE-2 */
/* ------------------------------------------------------------------------------------------------------------------------------- */

.tt-post.type-2 .tt-post-info {
  padding: 26px 40px 28px 30px;
}

.tt-post.type-2 .tt-post-title {
  margin-bottom: 9px;
}

@media (max-width:1199px) {
.tt-post.type-2 .tt-post-info {
  padding-right: 30px;
}
}

