/* ---------------------------------------------------------------------------------------------------------------------
 * CUSTOM 5 COL
 * -------------------------------------------------------------------------------------------------------------------*/

.cust-xs-5 {
  width: 20%;
}

@media screen and (min-width:$screen-sm) {
  .cust-sm-5 {
    width: 20%;
  }
}

@media screen and (min-width:$screen-md) {
  .cust-md-5 {
    width: 21%;
  }
}

@media screen and (min-width: $screen-lg) {
  .cust-lg-5 {
    width: 20%;
  }
}
