/* ---------------------------------------------------------------------------------------------------------------------
 * Link Box
 * -------------------------------------------------------------------------------------------------------------------*/

.link_box {
  padding: 32px;
  [class^=icon-], [class*=" icon-"], i {
    font-style: normal;
    font-weight: bold;
    margin-right: 6px;
  }
  a {
    margin: 6px 0;
    font-weight: 900;
  }
}
