/* ------------------------------------------------------------------------------------------------------------------------------- */
/*  40 - TT-ABOUT  */
/* ------------------------------------------------------------------------------------------------------------------------------- */

.tt-about {
  text-align: center;
}

.tt-about .custom-hover {
  margin-bottom: 12px;
}

.tt-about .simple-text {
  margin-bottom: 15px;
}

.tt-about-block a {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height: 195px;
}
