/* ---------------------------------------------------------------------------------------------------------------------
 * Styleguide
 * https://zeroheight.com/1fdc83158/p/43dc3f-colors
 * -------------------------------------------------------------------------------------------------------------------*/
$aquamarin-dark: rgb(3, 142, 158); //#038E9E
$aquamarin: rgb(84, 191, 207); //#54BFCF
$aquamarin-20: rgb(220, 242, 245); //#DCF2F5
$aquamarin-40: rgb(186, 229, 235); //#98D8E2
$aquamarin-60: rgb(152, 216, 226); //#98D8E2
$aquamarin-80: rgb(118, 203, 216); //#76CBD8
$mediumblue-dark: rgb(0, 86, 151); //#005697
$mediumblue: rgb(0, 130, 200); //#0082C8
$mediumblue-20: rgb(204, 230, 244); //#CCE6F4
$mediumblue-40: rgb(153, 205, 233); //#99CDE9
$mediumblue-60: rgb(102, 180, 222); //#66B4DE
$mediumblue-80: rgb(51, 155, 211); //#339BD3
$darkblue: rgb(0, 50, 115); //#003273
$black: rgb(0, 0, 0); //#000000
$grey-dark: rgb(80, 80, 80); //#505050
$grey: rgb(224, 224, 224); //#E0E0E0
$grey-light: rgb(248, 248, 248); //#F8F8F8
$white: rgb(255, 255, 255); //#FFFFFF
$white-40: rgba(255, 255, 255, 0.4); //#FFFFFF
$white-60: rgba(255, 255, 255, 0.6); //#FFFFFF
$green: rgb(155, 195, 30);
$orange: rgb(245, 155, 105);
$orange-light: rgb(245, 190, 130);
$orange-strong:rgb(255, 155, 95);
$orange-strong-40: rgba(255, 155, 95, 0.4);
$red: rgb(172, 0, 0);
$yellow: rgb(250, 205, 0);

/** Basti */
$light-grey-blue: $aquamarin-60; //#98d8e2
$teal-blue: $aquamarin-dark; // #038e9e
$greyish-brown: $grey-dark;
$tealish: $aquamarin-dark; //#038e9e

  /*
   * MagPlus WP Theme
   */
$grey-mp: #d1d1d2;
$grey-dark-mp: #666;
$grey-darker-mp: #444;
$grey-darkest-mp: #222;
$black-light-mp: #111;
$color-3-mp: #b5b5b5;
$color-5-mp: #a9b3ae;
$blockquote-border-mp: #eaeaea;
$black-lighter: rgba(17, 17, 17, 0.7);


/* TYPOGRAPHY */
/*$font-family-sans-serif:  Lato, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.3125)); // ~21px
$font-size-small:         ceil(($font-size-base * 0.875)); // ~14px

$font-size-h1:            32px;
$font-size-h2:            24px;
$font-size-h3:            18px;
$font-size-h4:            16px;

$line-height-base:        26px;*/

// Extra Extra small screen / phone
$screen-xxs:                  360px !default;
$screen-xxs-min:              $screen-xxs !default;

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

// Extra Large screen / wide desktop
$screen-xlg:                  1300px !default;
$screen-xlg-min:              $screen-xlg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xlg-min - 1) !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");
